<div class="pitch-stories">
	
	<div class="heading-banner">
		<!-- <div class="banner-img" style="background-image: url(https://picsum.photos/1280/600);"></div> -->
		<div class="banner-desc">
			<h3>Create stories</h3>
			<p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
			<div class="button-group">
				<a href="#" class="btn btn-primary-light btn-medium">Learn more</a>
				<a href="#" class="btn btn-primary btn-medium">Pitch your story</a>
			</div>
		</div>
	</div>

	<div class="why-pitch-story static-desc pt-50 pb-60">
		<div class="container">
			<div class="heading-desc">
				<h3>Who do we look for</h3>
				<p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
			</div>
			<div class="col-desc pt-40">
				<div class="row">
					<div class="col-md-4">
						<h3>Type  1</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc. </p>
					</div>
					<div class="col-md-4">
						<h3>Type  2</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc. </p>
					</div>
					<div class="col-md-4">
						<h3>Type  3</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="success-stories centered-slider static-desc static-desc-no-bg gray-bg pt-50 pb-60">
		<div class="container">
			<div class="heading-desc pb-30">
				<h3>Experiences from our storytellers</h3>
			</div>
			<div class="body-slider">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				      <div class="swiper-slide">
				      	<div class="wraper-slide">
				      		<div class="heading-slide">
				      			<!-- thumbnail 540x300 -->
				      			<!-- <div class="thumbnail" style="background-image: url(https://picsum.photos/540/300)">
				      				
				      			</div> -->
				      			<div class="entry-desc">
				      				<a href="#" class="entry-tag">India</a>
				      				<h3><a href="#">PCVC</a></h3>
				      			</div>
				      		</div>
				      		<div class="static-quotes">
				      			<p>“Those three days of my life spent with these women also taught me that we should not be so quick to reject, or hold back from what comes our way. I came to understand that our paths meeting was a part of a bigger change in me.”</p>
				      			<div class="people">
				      				<div class="avatar">
				      					<!-- <img src="https://picsum.photos/64/64" alt=""> -->
				      				</div>
				      				<div class="infor">
				      					<h4>Pooja Batura</h4>
				      					<p>Filmmaker</p>
				      				</div>
				      			</div>
				      		</div>
				      	</div>
				      </div>
				     <div class="swiper-slide">
				      	<div class="wraper-slide">
				      		<div class="heading-slide">
				      			<!-- thumbnail 540x300 -->
				      			<!-- <div class="thumbnail" style="background-image: url(https://picsum.photos/540/300)">
				      				
				      			</div> -->
				      			<div class="entry-desc">
				      				<a href="#" class="entry-tag">India</a>
				      				<h3><a href="#">PCVC</a></h3>
				      			</div>
				      		</div>
				      		<div class="static-quotes">
				      			<p>“Those three days of my life spent with these women also taught me that we should not be so quick to reject, or hold back from what comes our way. I came to understand that our paths meeting was a part of a bigger change in me.”</p>
				      			<div class="people">
				      				<div class="avatar">
				      					<!-- <img src="https://picsum.photos/64/64" alt=""> -->
				      				</div>
				      				<div class="infor">
				      					<h4>Pooja Batura</h4>
				      					<p>Filmmaker</p>
				      				</div>
				      			</div>
				      		</div>
				      	</div>
				      </div>
				      <div class="swiper-slide">
				      	<div class="wraper-slide">
				      		<div class="heading-slide">
				      			<!-- thumbnail 540x300 -->
				      			<!-- <div class="thumbnail" style="background-image: url(https://picsum.photos/540/300)">
				      				
				      			</div> -->
				      			<div class="entry-desc">
				      				<a href="#" class="entry-tag">India</a>
				      				<h3><a href="#">PCVC</a></h3>
				      			</div>
				      		</div>
				      		<div class="static-quotes">
				      			<p>“Those three days of my life spent with these women also taught me that we should not be so quick to reject, or hold back from what comes our way. I came to understand that our paths meeting was a part of a bigger change in me.”</p>
				      			<div class="people">
				      				<div class="avatar">
				      					<!-- <img src="https://picsum.photos/64/64" alt=""> -->
				      				</div>
				      				<div class="infor">
				      					<h4>Pooja Batura</h4>
				      					<p>Filmmaker</p>
				      				</div>
				      			</div>
				      		</div>
				      	</div>
				      </div>
				      <div class="swiper-slide">
				      	<div class="wraper-slide">
				      		<div class="heading-slide">
				      			<!-- thumbnail 540x300 -->
				      			<!-- <div class="thumbnail" style="background-image: url(https://picsum.photos/540/300)">
				      				
				      			</div> -->
				      			<div class="entry-desc">
				      				<a href="#" class="entry-tag">India</a>
				      				<h3><a href="#">PCVC</a></h3>
				      			</div>
				      		</div>
				      		<div class="static-quotes">
				      			<p>“Those three days of my life spent with these women also taught me that we should not be so quick to reject, or hold back from what comes our way. I came to understand that our paths meeting was a part of a bigger change in me.”</p>
				      			<div class="people">
				      				<div class="avatar">
				      					<!-- <img src="https://picsum.photos/64/64" alt=""> -->
				      				</div>
				      				<div class="infor">
				      					<h4>Pooja Batura</h4>
				      					<p>Filmmaker</p>
				      				</div>
				      			</div>
				      		</div>
				      	</div>
				      </div>
				      <div class="swiper-slide">
				      	<div class="wraper-slide">
				      		<div class="heading-slide">
				      			<!-- thumbnail 540x300 -->
				      			<!-- <div class="thumbnail" style="background-image: url(https://picsum.photos/540/300)">
				      				
				      			</div> -->
				      			<div class="entry-desc">
				      				<a href="#" class="entry-tag">India</a>
				      				<h3><a href="#">PCVC</a></h3>
				      			</div>
				      		</div>
				      		<div class="static-quotes">
				      			<p>“Those three days of my life spent with these women also taught me that we should not be so quick to reject, or hold back from what comes our way. I came to understand that our paths meeting was a part of a bigger change in me.”</p>
				      			<div class="people">
				      				<div class="avatar">
				      					<!-- <img src="https://picsum.photos/64/64" alt=""> -->
				      				</div>
				      				<div class="infor">
				      					<h4>Pooja Batura</h4>
				      					<p>Filmmaker</p>
				      				</div>
				      			</div>
				      		</div>
				      	</div>
				      </div>
				    </div>
				    <!-- Add Pagination -->
				    <div class="swiper-pagination"></div>
				  </div>
			</div>
			<div class="static-action mt-20">
				<p>Be a storyteller for Our Better World today! Quis mollis nisl nunc et massa. </p>
				<a href="#" class="btn btn-primary btn-medium">Sign up now</a>
			</div>
		</div>
	</div>
	
<!-- 	<div class="how-a-pitch-story static-desc static-desc-none-bg pt-50 pb-60">
		<div class="container">
			<div class="heading-desc">
				<h3>How a pitch works</h3>
				<p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
			</div>
			<div class="col-desc pt-40">
				<div class="row">
					<div class="col-md-4 text-center">
						<h3>Step 1</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.</p>
					</div>
					<div class="col-md-4 text-center">
						<h3>Step 2</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. </p>
					</div>
					<div class="col-md-4 text-center">
						<h3>Step 3</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. </p>
					</div>
				</div>
			</div>
			<div class="group-button text-center pt-50">
				<a href="#" class="btn btn-primary btn-larger">Pitch your story</a>
			</div>
		</div>
	</div>
	
 -->
	<div class="meet-the-team page-section pt-50 pb-60 small-thumbnail" id="meet-the-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-block pb-30 text-center">
						<h3>Our impact storytellers</h3>
						
					</div>
					<div class="team-slider">
						 <!-- Add Arrows -->
					    <div class="swiper-button-next white-button"></div>
					    <div class="swiper-button-prev white-button"></div>
						<div class="swiper-container">
						  <div class="swiper-wrapper">
						    <div class="swiper-slide" data-item="0">
								<div class="team-card">
									<!-- <img src="https://picsum.photos/g/150/150" alt=""> -->
								</div>
								<div class="member-infor">
									<h3>Teresa Austin</h3>
								</div>
						    </div>
						    <div class="swiper-slide" data-item="1">
						    	<div class="team-card">
									<!-- <img src="https://picsum.photos/g/150/150" alt=""> -->
								</div>
								<div class="member-infor">
									<h3>Johnny Diaz</h3>
								</div>
						    </div>
						    <div class="swiper-slide" data-item="2">
						    	<div class="team-card">
									<!-- <img src="https://picsum.photos/g/150/150" alt=""> -->
								</div>
								<div class="member-infor">
									<h3>Nicholas Gibson</h3>
								</div>
						    </div>
						    <div class="swiper-slide" data-item="3">
						    	<div class="team-card">
									<!-- <img src="https://picsum.photos/g/150/150" alt=""> -->
								</div>
								<div class="member-infor">
									<h3>Teresa Austin</h3>
								</div>
						    </div>
						    <div class="swiper-slide" data-item="4">
						    	<div class="team-card">
									<!-- <img src="https://picsum.photos/g/150/150" alt=""> -->
								</div>
								<div class="member-infor">
									<h3>Teresa Austin</h3>
								</div>
						    </div>
						    <div class="swiper-slide" data-item="5">
						    	<div class="team-card">
									<!-- <img src="https://picsum.photos/g/150/150" alt=""> -->
								</div>
								<div class="member-infor">
									<h3>Teresa Austin</h3>
								</div>
						    </div>
						    <div class="swiper-slide" data-item="6">
						    	<div class="team-card">
									<!-- <img src="https://picsum.photos/g/150/150" alt=""> -->
								</div>
								<div class="member-infor">
									<h3>Teresa Austin</h3>
								</div>
						    </div>
						    <div class="swiper-slide" data-item="7">
						    	<div class="team-card">
									<!-- <img src="https://picsum.photos/g/150/150" alt=""> -->
								</div>
								<div class="member-infor">
									<h3>Laura Jenkins</h3>
								</div>
						    </div>
						    <div class="swiper-slide" data-item="8">
						    	<div class="team-card">
									<!-- <img src="https://picsum.photos/g/150/150" alt=""> -->
								</div>
								<div class="member-infor">
									<h3>Jerry Ford</h3>
								</div>
						    </div>
						  </div>

						</div>
						<div class="swiper-content">
							<ul>
								<li data-content="0">
									<p>Zah has a way of stopping buses at the bus-stop where she stands. Body language and eye contact with the bus driver is her strategy. But every superpower comes with 3 weak spots. Chocolate, coffee, and chilli. Zah uses her social media marketing and communication skills to change the world, one Our Better World story at a time.</p>
									<a href="#">zah@ourbetterworld.org</a>
								</li>
								<li data-content="1">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ipsum, vel praesentium id, blanditiis accusantium aperiam laudantium autem, officia explicabo quo voluptatum excepturi modi? Ipsa vero vel facilis fugit minus.</p>
									<a href="#">zah@ourbetterworld.org</a>
								</li>
								<li data-content="2">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ipsam maiores vero tempore qui rem aperiam saepe minima eveniet repellendus, accusantium, nihil impedit explicabo alias quaerat asperiores ea autem odio?</p>
									<a href="#">zah@ourbetterworld.org</a>
								</li>
								<li data-content="3">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi saepe corrupti quos enim a, commodi aliquid perferendis laboriosam eum ut omnis iusto velit eos ipsam odit temporibus nisi aperiam labore.</p>
									<a href="#">zah@ourbetterworld.org</a>
								</li>
								<li data-content="4">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eligendi sequi laborum impedit velit, earum tempore. Aut, molestiae alias provident porro voluptas maxime. Fugit itaque, quo excepturi modi, doloribus voluptatum.</p>
									<a href="#">zah@ourbetterworld.org</a>
								</li>
								<li data-content="5">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis debitis fugiat eveniet quasi ipsam nostrum voluptatem maxime vitae vel, illum dolores laborum obcaecati facilis velit. Recusandae repudiandae corporis, incidunt.</p>
									<a href="#">zah@ourbetterworld.org</a>
								</li>
								<li data-content="6">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum accusantium et placeat, suscipit fugiat ex, voluptas ipsa tempore asperiores fuga perspiciatis dolor at non nostrum ad pariatur. Culpa, doloremque eos.</p>
									<a href="#">zah@ourbetterworld.org</a>
								</li>
								<li data-content="7">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo fugiat soluta quas accusamus veniam voluptates, possimus, alias molestias ut perspiciatis doloribus vel dolore rerum vitae aliquam unde ipsam labore.</p>
									<a href="#">zah@ourbetterworld.org</a>
								</li>
								<li data-content="8">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptates, laudantium itaque quasi dolor illum non dolorem, porro officiis quas enim dignissimos repudiandae voluptatibus, atque mollitia? Inventore quasi quia laborum.</p>
									<a href="#">zah@ourbetterworld.org</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>