<div class="static-page privacy gray-bg pb-50">
	<div class="container">
		<div class="heading-title">
			<h3>Terms and Conditions</h3>
			<p>Please read this terms and conditions carefully before using this website</p>
		</div>
		<div class="section">
			<h4>What’s in these terms?</h4>
			<p>These terms tell you the rules for using our website (<a href="https://www.ourbetterworld.org/)" target="_blank">https://www.ourbetterworld.org/)</a> (our site).</p>
			<h4>Who we are and how to contact us</h4>
			<p>https://www.ourbetterworld.org/ is a site operated by Singapore International Foundation, an organisation registered in Singapore with UEN 199103796W and with registered address at No.60A, Orchard Road, #04-01 Tower 1, The Atrium@Orchard, International Involvement Hub, Singapore 238890, which owns and operates the digital storytelling initiative “Our Better World", intended to tell the stories of people doing good in Asia to inspire the online community to take action, so that the subjects of their stories get the help they need to impact more lives ("We").</p>
			<p>To contact us, please email storyteller@ourbetterworld.org.</p>
			<h4>By using our site you accept these terms</h4>
			<p>By using our site, you confirm that you accept these terms of use and that you agree to comply with them. If you do not agree to these terms, you must not use our site. We recommend that you print a copy of these terms for future reference.</p>
			<h4>There are other terms that may apply to you</h4>
			<p>These terms of use refer to the following additional terms, which also apply to your use of our site:</p>
			<p>Our <a href="#">Privacy Policy</a>, which sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using our site, you consent to such processing and you warrant that all data provided by you is accurate. Our Privacy Policy also contains information about the cookies on our site.</p>
			<h4>We may make changes to these terms</h4>
			<p>We amend these terms from time to time. Every time you wish to use our site, please check these terms to ensure you understand the terms that apply at that time.</p>
			<h4>We may make changes to our site</h4>
			<p>We may update and change our site from time to time.</p>
			<h4>We may suspend or withdraw our site</h4>
			<p>Our site is made available free of charge.</p>
			<p>We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our site for business and operational reasons. We will try to give you reasonable notice of any suspension or withdrawal.</p>
			<p>You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.</p>
		</div>
	</div>
</div>