<div class="pitch-stories">
	
	<div class="heading-banner">
		<!-- <div class="banner-img" style="background-image: url(https://picsum.photos/1280/600);"></div> -->
		<div class="banner-img"></div>
		<div class="banner-desc">
			<h3>Pitch Stories</h3>
			<p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
			<div class="button-group">
				<a href="#" class="btn btn-primary-light btn-medium">Learn more</a>
				<a href="#" class="btn btn-primary btn-medium">Pitch your story</a>
			</div>
		</div>
	</div>
	
	<div class="story-make gray-bg static-desc pt-30 pb-50">
		<div class="container">
			<div class="heading-desc pb-20">
				<h3>What difference does a story make?</h3>
				<p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
			</div>
			<div class="video-group">
				<iframe width="800" height="450" src="https://www.youtube-nocookie.com/embed/gPttEzhI_K4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<div class="why-pitch-story static-desc pt-50 pb-60">
		<div class="container">
			<div class="heading-desc">
				<h3>Why pitch a story</h3>
				<p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
			</div>
			<div class="col-desc pt-40">
				<div class="row">
					<div class="col-md-4">
						<h3>Reason 1</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc. </p>
					</div>
					<div class="col-md-4">
						<h3>Reason 2</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc. </p>
					</div>
					<div class="col-md-4">
						<h3>Reason 3</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="success-stories centered-slider static-desc gray-bg pt-50 pb-60">
		<div class="container">
			<div class="heading-desc pb-30">
				<h3>Success stories</h3>
				<p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
			</div>
			<div class="body-slider">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				      <div class="swiper-slide">
				      	<div class="wraper-slide">
				      		<div class="heading-slide">
				      			<!-- thumbnail 540x300 -->
				      			<!-- <div class="thumbnail" style="background-image: url(https://picsum.photos/540/300)"> -->
				      			<div class="thumbnail">
				      				
				      			</div>
				      			<div class="entry-desc">
				      				<a href="#" class="entry-tag">Singapore</a>
				      				<h3><a href="#">Soundball</a></h3>
				      			</div>
				      		</div>
				      		<div class="desc-slide">
				      			<h3>More blind tennis players getting trained</h3>
				      			<p>More volunteers have made it possible for Soundball to increase training from once to thrice a week in Singapore.</p>
				      			<p>1. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.</p>
				      			<p>2. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. </p>
				      		</div>
				      	</div>
				      </div>
				     <div class="swiper-slide">
				      	<div class="wraper-slide">
				      		<div class="heading-slide">
				      			<!-- thumbnail 540x300 -->
				      			<!-- <div class="thumbnail" style="background-image: url(https://picsum.photos/540/300)"> -->
				      			<div class="thumbnail">
				      				
				      			</div>
				      			<div class="entry-desc">
				      				<a href="#" class="entry-tag">Singapore</a>
				      				<h3><a href="#">Soundball</a></h3>
				      			</div>
				      		</div>
				      		<div class="desc-slide">
				      			<h3>More blind tennis players getting trained</h3>
				      			<p>More volunteers have made it possible for Soundball to increase training from once to thrice a week in Singapore.</p>
				      			<p>1. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.</p>
				      			<p>2. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. </p>
				      		</div>
				      	</div>
				      </div>
				      <div class="swiper-slide">
				      	<div class="wraper-slide">
				      		<div class="heading-slide">
				      			<!-- thumbnail 540x300 -->
				      			<!-- <div class="thumbnail" style="background-image: url(https://picsum.photos/540/300)"> -->
				      			<div class="thumbnail">
				      				
				      			</div>
				      			<div class="entry-desc">
				      				<a href="#" class="entry-tag">Singapore</a>
				      				<h3><a href="#">Soundball</a></h3>
				      			</div>
				      		</div>
				      		<div class="desc-slide">
				      			<h3>More blind tennis players getting trained</h3>
				      			<p>More volunteers have made it possible for Soundball to increase training from once to thrice a week in Singapore.</p>
				      			<p>1. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.</p>
				      			<p>2. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. </p>
				      		</div>
				      	</div>
				      </div>
				      <div class="swiper-slide">
				      	<div class="wraper-slide">
				      		<div class="heading-slide">
				      			<!-- thumbnail 540x300 -->
				      			<!-- <div class="thumbnail" style="background-image: url(https://picsum.photos/540/300)"> -->
				      			<div class="thumbnail">
				      				
				      			</div>
				      			<div class="entry-desc">
				      				<a href="#" class="entry-tag">Singapore</a>
				      				<h3><a href="#">Soundball</a></h3>
				      			</div>
				      		</div>
				      		<div class="desc-slide">
				      			<h3>More blind tennis players getting trained</h3>
				      			<p>More volunteers have made it possible for Soundball to increase training from once to thrice a week in Singapore.</p>
				      			<p>1. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.</p>
				      			<p>2. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. </p>
				      		</div>
				      	</div>
				      </div>
				      <div class="swiper-slide">
				      	<div class="wraper-slide">
				      		<div class="heading-slide">
				      			<!-- thumbnail 540x300 -->
				      			<!-- <div class="thumbnail" style="background-image: url(https://picsum.photos/540/300)"> -->
				      			<div class="thumbnail">
				      				
				      			</div>
				      			<div class="entry-desc">
				      				<a href="#" class="entry-tag">Singapore</a>
				      				<h3><a href="#">Soundball</a></h3>
				      			</div>
				      		</div>
				      		<div class="desc-slide">
				      			<h3>More blind tennis players getting trained</h3>
				      			<p>More volunteers have made it possible for Soundball to increase training from once to thrice a week in Singapore.</p>
				      			<p>1. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.</p>
				      			<p>2. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. </p>
				      		</div>
				      	</div>
				      </div>
				    </div>
				    <!-- Add Pagination -->
				    <div class="swiper-pagination"></div>
				  </div>
			</div>
		</div>
	</div>
	
	<div class="how-a-pitch-story static-desc pt-50 pb-60">
		<div class="container">
			<div class="heading-desc">
				<h3>How a pitch works</h3>
				<p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
			</div>
			<div class="col-desc pt-40">
				<div class="row">
					<div class="col-md-4 text-center">
						<h3>Step 1</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.</p>
					</div>
					<div class="col-md-4 text-center">
						<h3>Step 2</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. </p>
					</div>
					<div class="col-md-4 text-center">
						<h3>Step 3</h3>
						<p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. </p>
					</div>
				</div>
			</div>
			<div class="group-button text-center pt-50">
				<a href="#" class="btn btn-primary btn-larger">Pitch your story</a>
			</div>
		</div>
	</div>


</div>