<div class="static-page privacy gray-bg pb-50">
	<div class="container">
		<div class="heading-title">
			<h3>Privacy Policy</h3>
			<p>We keep your data yours, private and secure.</p>
		</div>
		<div class="section">
			<p>Effective 1 November 2017.</p>
			<p>Welcome to Our Better World ("OBW"), the digital storytelling platform of the Singapore International Foundation (SIF).</p>
			<p>This site is operated by Singapore International Foundation, an organisation registered in Singapore with UEN 199103796W and with registered address at No.60A, Orchard Road, #04-01 Tower 1, The Atrium@Orchard, International Involvement Hub, Singapore 238890, which owns and operates OBW.  At OBW, we are committed to protecting and managing your personal information in accordance with Singapore laws, international good practice and individuals’ rights. We collect and use personal information to help us offer individuals appropriate information on our programmes and initiatives. In this Privacy Policy we’ll explain the kinds of questions we’ll ask you and what we do with the information you give us.</p>
			<p>Our Privacy Policy will be updated from time to time – you can always come back here and check for any changes. Alternatively, if you want to be notified of any changes, make sure you subscribe to our newsletter, which will update you on any material revisions of this Privacy Policy.  </p>    
			<h3>A. What information we collect and how we collect it</h3>
			<h4>1. Registration and use of our site</h4>
			<p>To stay updated with the latest events and highlights from OBW, you can register with us at https://www.ourbetterworld.org/en/get-involved. When registering or using our site, we collect personal data from you such as name, contact information, demographic information, IP address, browser, site activity and cookie information and details of any information via our site. Where you donate via our site, we may also collect personal data from you such as name, country/city and donation amount. This is necessary as part of the normal process of operating our service and to allow us to give you access to all of our latest news and events.</p>
			<p>We collect personal information when:</p>
			<ul>
				<li>
					<p>You register, sign up or provide information on our website</p>
				</li>
				<li>
					<p>You subscribe to our newsletter</p>
				</li>
				<li>
					<p>You participate in our marketing campaigns</p>
				</li>
				<li>
					<p>You register for our events or programmes</p>
				</li>
				<li>
					<p>You participate in our surveys</p>
				</li>
				<li>
					<p>You contact us to share your stories</p>
				</li>
				<li>
					<p>You provide us with your name cards</p>
				</li>
				<li>
					<p>You subscribe for more information and/or services from our partners via our website  </p>
				</li>
			</ul>
			<h3>B. How we use the information we collect</h3>
			<h4>1. Main purposes</h4>
			<p>The main purposes of our data collection are as follows:</p>
		</div>
	</div>
</div>