<html lang="en"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ subject }}</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="font-size:14px;min-width:auto;background-color:#ffffff;background:#ffffff">
  <tbody>
  <tr>
    <td align="center" valign="top" width="100%">
      <table border="0" cellpadding="0" cellspacing="0" width="651" bgcolor="#ffffff" style="font-size:14px;min-width:auto;max-width:651px">
        <tbody>
        <tr>
          <td id="m_-2899363757294775146layout_table_95abfcbec3fba031552c6896d2254276dc5f97b9" valign="top" align="center" width="651">
            <table cellpadding="0" cellspacing="0" border="0" width="651" style="font-size:14px;min-width:100%">
              <tbody>
              <tr>
                <td id="m_-2899363757294775146layout-row-margin21211" valign="top">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                    <tbody>
                    <tr id="m_-2899363757294775146layout-row21211">
                      <td id="m_-2899363757294775146layout-row-padding21211" valign="top" style="line-height:0">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:collapse;line-height:0">
                          <tbody>
                          <tr>
                            <td height="0" style="line-height:0"></td>
                          </tr>
                          <tr>
                            <td align="center" height="10" width="651" style="font-size:10px;height:10px;line-height:0">
                              <table align="center" border="0" cellpadding="0" cellspacing="0" height="10" width="651" style="font-size:14px;min-width:auto!important;border-collapse:collapse;line-height:0;width:100%;max-width:100%">
                                <tbody>
                                <tr>
                                  <td class="m_-2899363757294775146break-line" bgcolor="#d24f1d" height="10" width="651" style="font-size:10px;height:10px;line-height:10px;width:651px;background-color:#d24f1d"></td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td height="0" style="line-height:0"></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr id="m_-2899363757294775146layout-row21216">
                <td id="m_-2899363757294775146layout-row-padding21216" valign="top">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                    <tbody>
                    <tr>
                      <td id="m_-2899363757294775146layout_table_f2932c54eac82ddfd52b14a9fdb267b11cf755ae" valign="middle" width="461" style="background-color:initial">
                        <table cellpadding="0" cellspacing="0" border="0" width="461" style="font-size:14px;min-width:100%;background-color:initial">
                          <tbody>
                          <tr style="background-color:initial">
                            <td id="m_-2899363757294775146layout-row-margin21207" valign="top" style="padding:0;background-color:initial">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:initial!important">
                                <tbody>
                                <tr id="m_-2899363757294775146layout-row21207" align="left">
                                  <td id="m_-2899363757294775146layout-row-padding21207" valign="top" style="padding:7px 0 5px 15px">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="446">
                                          <img src="https://ci4.googleusercontent.com/proxy/h-N_diGaf2xUzBqXBOReMR5Hj8PBYl_fTT-1LXHpqomnND00z6JvqvjYnTOpwNQppdhq2QugaLIkxCToENFpuqgZeWGr2eFro3E5sMH9x36_20_bwZV__3yI7GBfZK5TCR6RD6BUoNRcdi9RVe0=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//8cf7b955ae4150954a584e08dde09edb.jpg?r=375467234" alt="" width="260" style="display:block;border:none;outline:none;width:260px;opacity:1;max-width:100%" class="CToWUd">
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                      <td id="m_-2899363757294775146layout_table_bd681208cd49609f5f1429668c6ce23adba0707a" valign="middle" width="190" style="background-color:initial">
                        <table>
                          <tbody>
                          <tr>
                            <td>
                              <a href="https://ourbetterworld.acemlnc.com/lt.php?s=c53e2b880d2fb039d3f2984d41b57b20&amp;i=1112A1425A44A12283" style="margin:0;outline:none;padding:0;color:#045fb4;display:block;;width:30px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ourbetterworld.acemlnc.com/lt.php?s%3Dc53e2b880d2fb039d3f2984d41b57b20%26i%3D1112A1425A44A12283&amp;source=gmail&amp;ust=1589004996098000&amp;usg=AFQjCNFRQ62JVsxkDFE6oRbWEuEFT6_ajw"><img src="https://ci6.googleusercontent.com/proxy/6g5MtF1P_ep3P7WeVo7UErjfQCSElinc5BiyEUB74pDQeUJIlVPoBhDNAw2Qx0KclHDteE5QERTGuAeyjcxdlEEjq8n2Mpqv4xqI-2d2faj8ZGgDTPlbTQ_lTsEef320U96HeiSj7YmNsOREbP0=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//fe77eac27a5154d297eaf0832b931c02.jpg?r=653076190" alt=""  style="border:none;display:block;outline:none;opacity:1;width:30px" class="CToWUd"></a>
                            </td>
                            <td>
                              <a href="https://ourbetterworld.acemlnc.com/lt.php?s=c53e2b880d2fb039d3f2984d41b57b20&amp;i=1112A1425A44A12284" style="width:30px;margin:0;outline:none;padding:0;color:#045fb4;display:block;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ourbetterworld.acemlnc.com/lt.php?s%3Dc53e2b880d2fb039d3f2984d41b57b20%26i%3D1112A1425A44A12284&amp;source=gmail&amp;ust=1589004996098000&amp;usg=AFQjCNG1FDCW0s86MY7UhoNnaSKTNQeaCg"><img src="https://ci5.googleusercontent.com/proxy/D3w_NV7NokGike5Xf8a1U6SkgWeaKUZWrTCOKcPcaHLAbMJsbl8g-mFKE8KIABi5z-xhZQodhVdmh_E_37VfCpfKoQDiYsdU7lvnwg54UVJg9A7xZcaGDe7fuEtpxb2mbIduYAqN-nl78H76f9ug=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//cedbd5fa4dcc9f802a96f1e6894e788b.jpg?r=1172521197" alt=""  style="border:none;display:block;outline:none;opacity:1;width:30px" class="CToWUd"></a>
                            </td>
                            <td>
                              <a href="https://ourbetterworld.acemlnc.com/lt.php?s=c53e2b880d2fb039d3f2984d41b57b20&amp;i=1112A1425A44A12285" style="width:30px;margin:0;outline:none;padding:0;color:#045fb4;display:block;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ourbetterworld.acemlnc.com/lt.php?s%3Dc53e2b880d2fb039d3f2984d41b57b20%26i%3D1112A1425A44A12285&amp;source=gmail&amp;ust=1589004996098000&amp;usg=AFQjCNGdhC43wZdSHk2D5dJLbUnNYw7qGA"><img src="https://ci4.googleusercontent.com/proxy/8mM8W_AmLRle14XuSaq8CLp55BRdS4Y2NeiDKGrVqcyqqGM5U7424PKmc3k7qpLUrCvMrJAM-Wkyx80tZBMXsUY4FQfQahrnoT9HxTWGcyIK3GdyNG5mlu8e0hAl2d2YvHFjbHLPAUXiK1Ven2I=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//029db71dcce1e501c42f02ff6b7a0043.jpg?r=513313906" alt=""  style="border:none;display:block;outline:none;width:32px;opacity:1;width:30px" class="CToWUd"></a>
                            </td>
                            <td><a href="https://ourbetterworld.acemlnc.com/lt.php?s=c53e2b880d2fb039d3f2984d41b57b20&amp;i=1112A1425A44A12286" style="width:30px;margin:0;outline:none;padding:0;color:#045fb4;display:block;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ourbetterworld.acemlnc.com/lt.php?s%3Dc53e2b880d2fb039d3f2984d41b57b20%26i%3D1112A1425A44A12286&amp;source=gmail&amp;ust=1589004996098000&amp;usg=AFQjCNEgEyKSIZmOjxG5ZCtqjoQbPQr1Ug"><img src="https://ci3.googleusercontent.com/proxy/r45chhz3ABqzBMmLst1rpjJmFHxld5d4YdtDyea7TFyHm102hvXKWbsUUeZKvHfl1ci6WDrtD0Qd-TKYH_SmC3lO20kvEkYQobaMb-w6lK2jwFpv_SpNVsvX-sRZpd3F60HTraaNN6oJ5FfxSPc=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//deb1bb97e18e1402f21c767760d335c6.jpg?r=444272369" alt=""  style="border:none;display:block;outline:none;opacity:1;width:30px" class="CToWUd"></a></td>
                            <td><a href="https://ourbetterworld.acemlnc.com/lt.php?s=c53e2b880d2fb039d3f2984d41b57b20&amp;i=1112A1425A44A12287" style="width:30px;margin:0;outline:none;padding:0;color:#045fb4;display:block;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ourbetterworld.acemlnc.com/lt.php?s%3Dc53e2b880d2fb039d3f2984d41b57b20%26i%3D1112A1425A44A12287&amp;source=gmail&amp;ust=1589004996098000&amp;usg=AFQjCNF3MkLsAwosP1L4tIuUYE8n8JpScA"><img src="https://ci5.googleusercontent.com/proxy/zZ_NgEO-wp9NyUo3Qu246LKI_gKlXskRvD-5k4tD1asNTpvkc2b3_q4Hsm4TJJUwqwONZ8yLAHIZKH6vfCkYM5882jvOafkXw0nqdT05SVzsfiE1iiUifOZs244jyN1xwYsI-JVpcx1DU3sxCNw=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//7f0c68f84853c538abe172f4299b61cb.jpg?r=450802335" alt=""  style="border:none;display:block;outline:none;opacity:1;width:30px" class="CToWUd"></a></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                      {# <td id="m_-2899363757294775146layout_table_bd681208cd49609f5f1429668c6ce23adba0707a" valign="top" width="26" style="background-color:initial">
                        <table cellpadding="0" cellspacing="0" border="0" width="26" style="font-size:14px;min-width:100%;background-color:initial">
                          <tbody>
                          <tr style="background-color:initial">
                            <td id="m_-2899363757294775146layout-row-margin21215" valign="top" style="padding:0;background-color:initial">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:initial!important">
                                <tbody>
                                <tr id="m_-2899363757294775146layout-row21215" align="left">
                                  <td id="m_-2899363757294775146layout-row-padding21215" valign="top" style="padding:18px 0 0 0">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                                      <tbody>
                                      <tr>
                                        <td align="left" valign="top" width="26">
                                          <a href="https://ourbetterworld.acemlnc.com/lt.php?s=c53e2b880d2fb039d3f2984d41b57b20&amp;i=1112A1425A44A12283" style="margin:0;outline:none;padding:0;color:#045fb4;display:block;min-width:100%" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ourbetterworld.acemlnc.com/lt.php?s%3Dc53e2b880d2fb039d3f2984d41b57b20%26i%3D1112A1425A44A12283&amp;source=gmail&amp;ust=1589004996098000&amp;usg=AFQjCNFRQ62JVsxkDFE6oRbWEuEFT6_ajw"><img src="https://ci6.googleusercontent.com/proxy/6g5MtF1P_ep3P7WeVo7UErjfQCSElinc5BiyEUB74pDQeUJIlVPoBhDNAw2Qx0KclHDteE5QERTGuAeyjcxdlEEjq8n2Mpqv4xqI-2d2faj8ZGgDTPlbTQ_lTsEef320U96HeiSj7YmNsOREbP0=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//fe77eac27a5154d297eaf0832b931c02.jpg?r=653076190" alt="" width="26" style="border:none;display:block;outline:none;width:26px;opacity:1;max-width:100%" class="CToWUd"></a>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                      <td id="m_-2899363757294775146layout_table_f101daf7b7eef4c47ee33d277a27792a1ba5f519" valign="top" width="72">
                        <table cellpadding="0" cellspacing="0" border="0" width="72" style="font-size:14px;min-width:100%">
                          <tbody>
                          <tr id="m_-2899363757294775146layout-row21222">
                            <td id="m_-2899363757294775146layout-row-padding21222" valign="top">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                                <tbody>
                                <tr>
                                  <td id="m_-2899363757294775146layout_table_c3a2a4f8e211023f9640caf76f814e1d805de5e7" valign="top" width="39" style="background-color:initial">
                                    <table cellpadding="0" cellspacing="0" border="0" width="39" style="font-size:14px;min-width:100%;background-color:initial">
                                      <tbody>
                                      <tr style="background-color:initial">
                                        <td id="m_-2899363757294775146layout-row-margin21217" valign="top" style="padding:0;background-color:initial">
                                          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:initial!important">
                                            <tbody>
                                            <tr id="m_-2899363757294775146layout-row21217" align="left">
                                              <td id="m_-2899363757294775146layout-row-padding21217" valign="top" style="padding:12px 0 0 0">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                                                  <tbody>
                                                  <tr>
                                                    <td align="left" valign="top" width="39">
                                                      <a href="https://ourbetterworld.acemlnc.com/lt.php?s=c53e2b880d2fb039d3f2984d41b57b20&amp;i=1112A1425A44A12284" style="margin:0;outline:none;padding:0;color:#045fb4;display:block;min-width:100%" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ourbetterworld.acemlnc.com/lt.php?s%3Dc53e2b880d2fb039d3f2984d41b57b20%26i%3D1112A1425A44A12284&amp;source=gmail&amp;ust=1589004996098000&amp;usg=AFQjCNG1FDCW0s86MY7UhoNnaSKTNQeaCg"><img src="https://ci5.googleusercontent.com/proxy/D3w_NV7NokGike5Xf8a1U6SkgWeaKUZWrTCOKcPcaHLAbMJsbl8g-mFKE8KIABi5z-xhZQodhVdmh_E_37VfCpfKoQDiYsdU7lvnwg54UVJg9A7xZcaGDe7fuEtpxb2mbIduYAqN-nl78H76f9ug=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//cedbd5fa4dcc9f802a96f1e6894e788b.jpg?r=1172521197" alt="" width="38" style="border:none;display:block;outline:none;width:38px;opacity:1;max-width:100%" class="CToWUd"></a>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td id="m_-2899363757294775146layout_table_f94a4d428448e399581ed0e515612233f787c0eb" valign="top" width="33" style="background-color:initial">
                                    <table cellpadding="0" cellspacing="0" border="0" width="33" style="font-size:14px;min-width:100%;background-color:initial">
                                      <tbody>
                                      <tr style="background-color:initial">
                                        <td id="m_-2899363757294775146layout-row-margin21218" valign="top" style="padding:0;background-color:initial">
                                          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:initial!important">
                                            <tbody>
                                            <tr id="m_-2899363757294775146layout-row21218" align="left">
                                              <td id="m_-2899363757294775146layout-row-padding21218" valign="top" style="padding:15px 0 0 0">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                                                  <tbody>
                                                  <tr>
                                                    <td align="left" valign="top" width="33">
                                                      <a href="https://ourbetterworld.acemlnc.com/lt.php?s=c53e2b880d2fb039d3f2984d41b57b20&amp;i=1112A1425A44A12285" style="margin:0;outline:none;padding:0;color:#045fb4;display:block;min-width:100%" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ourbetterworld.acemlnc.com/lt.php?s%3Dc53e2b880d2fb039d3f2984d41b57b20%26i%3D1112A1425A44A12285&amp;source=gmail&amp;ust=1589004996098000&amp;usg=AFQjCNGdhC43wZdSHk2D5dJLbUnNYw7qGA"><img src="https://ci4.googleusercontent.com/proxy/8mM8W_AmLRle14XuSaq8CLp55BRdS4Y2NeiDKGrVqcyqqGM5U7424PKmc3k7qpLUrCvMrJAM-Wkyx80tZBMXsUY4FQfQahrnoT9HxTWGcyIK3GdyNG5mlu8e0hAl2d2YvHFjbHLPAUXiK1Ven2I=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//029db71dcce1e501c42f02ff6b7a0043.jpg?r=513313906" alt="" width="32" style="border:none;display:block;outline:none;width:32px;opacity:1;max-width:100%" class="CToWUd"></a>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                      <td id="m_-2899363757294775146layout_table_24a0193e9bba69411cbdfdf55a192a216019a6b5" valign="top" width="92">
                        <table cellpadding="0" cellspacing="0" border="0" width="92" style="font-size:14px;min-width:100%">
                          <tbody>
                          <tr id="m_-2899363757294775146layout-row21219">
                            <td id="m_-2899363757294775146layout-row-padding21219" valign="top">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                                <tbody>
                                <tr>
                                  <td id="m_-2899363757294775146layout_table_7d60b2e0bf89b2711e5e26d1871865356cdc1e67" valign="top" width="32" style="background-color:initial">
                                    <table cellpadding="0" cellspacing="0" border="0" width="32" style="font-size:14px;min-width:100%;background-color:initial">
                                      <tbody>
                                      <tr style="background-color:initial">
                                        <td id="m_-2899363757294775146layout-row-margin21220" valign="top" style="padding:0;background-color:initial">
                                          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:initial!important">
                                            <tbody>
                                            <tr id="m_-2899363757294775146layout-row21220" align="left">
                                              <td id="m_-2899363757294775146layout-row-padding21220" valign="top" style="padding:17px 0 0 0">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                                                  <tbody>
                                                  <tr>
                                                    <td align="left" valign="top" width="32">
                                                      <a href="https://ourbetterworld.acemlnc.com/lt.php?s=c53e2b880d2fb039d3f2984d41b57b20&amp;i=1112A1425A44A12286" style="margin:0;outline:none;padding:0;color:#045fb4;display:block;min-width:100%" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ourbetterworld.acemlnc.com/lt.php?s%3Dc53e2b880d2fb039d3f2984d41b57b20%26i%3D1112A1425A44A12286&amp;source=gmail&amp;ust=1589004996098000&amp;usg=AFQjCNEgEyKSIZmOjxG5ZCtqjoQbPQr1Ug"><img src="https://ci3.googleusercontent.com/proxy/r45chhz3ABqzBMmLst1rpjJmFHxld5d4YdtDyea7TFyHm102hvXKWbsUUeZKvHfl1ci6WDrtD0Qd-TKYH_SmC3lO20kvEkYQobaMb-w6lK2jwFpv_SpNVsvX-sRZpd3F60HTraaNN6oJ5FfxSPc=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//deb1bb97e18e1402f21c767760d335c6.jpg?r=444272369" alt="" width="30" style="border:none;display:block;outline:none;width:30px;opacity:1;max-width:100%" class="CToWUd"></a>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td id="m_-2899363757294775146layout_table_33c5a99cc0a0fb13c374fd764066ae7e1e04abd5" valign="top" width="60" style="background-color:initial">
                                    <table cellpadding="0" cellspacing="0" border="0" width="60" style="font-size:14px;min-width:100%;background-color:initial">
                                      <tbody>
                                      <tr style="background-color:initial">
                                        <td id="m_-2899363757294775146layout-row-margin21221" valign="top" style="padding:0;background-color:initial">
                                          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:initial!important">
                                            <tbody>
                                            <tr id="m_-2899363757294775146layout-row21221" align="left">
                                              <td id="m_-2899363757294775146layout-row-padding21221" valign="top" style="padding:15px 0 0 0">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                                                  <tbody>
                                                  <tr>
                                                    <td align="left" valign="top" width="60">
                                                      <a href="https://ourbetterworld.acemlnc.com/lt.php?s=c53e2b880d2fb039d3f2984d41b57b20&amp;i=1112A1425A44A12287" style="margin:0;outline:none;padding:0;color:#045fb4;display:block;min-width:100%" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ourbetterworld.acemlnc.com/lt.php?s%3Dc53e2b880d2fb039d3f2984d41b57b20%26i%3D1112A1425A44A12287&amp;source=gmail&amp;ust=1589004996098000&amp;usg=AFQjCNF3MkLsAwosP1L4tIuUYE8n8JpScA"><img src="https://ci5.googleusercontent.com/proxy/zZ_NgEO-wp9NyUo3Qu246LKI_gKlXskRvD-5k4tD1asNTpvkc2b3_q4Hsm4TJJUwqwONZ8yLAHIZKH6vfCkYM5882jvOafkXw0nqdT05SVzsfiE1iiUifOZs244jyN1xwYsI-JVpcx1DU3sxCNw=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//7f0c68f84853c538abe172f4299b61cb.jpg?r=450802335" alt="" width="33" style="border:none;display:block;outline:none;width:33px;opacity:1;max-width:100%" class="CToWUd"></a>
                                                    </td>
                                                  </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td> #}
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td id="m_-2899363757294775146layout-row-margin21213" valign="top">
                  {{ body|raw }}
                </td>
              </tr>
              <tr>
                <td id="m_-2899363757294775146layout-row-margin21210" valign="top" style="padding:0">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:initial!important">
                    <tbody>
                    <tr id="m_-2899363757294775146layout-row21210">
                      <td id="m_-2899363757294775146layout-row-padding21210" valign="top" style="padding:0">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                          <tbody>
                          <tr>
                            <td valign="top" height="11" style="font-size:11px;height:11px;line-height:11px">
                              <div style="margin:0;outline:none;padding:0;height:11px">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-size:14px;min-width:100%">
                                  <tbody>
                                  <tr>
                                    <td valign="top" height="11" width="651" style="font-size:11px;height:11px;line-height:11px;background-color:#d24f1d">
                                      &nbsp;
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
               <tr>
                <td id="m_-2899363757294775146layout-row-margin21223" valign="top" style="padding:0px">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:initial!important">
                    <tbody>
                    <tr id="m_-2899363757294775146layout-row21223" style="margin:0;padding:0;background-color:#d24f1d">
                      <td id="m_-2899363757294775146layout-row-padding21223" valign="top" style="background-color:#d24f1d;padding:0px">
                        <table align='center' width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;text-align:center;">
                          <tbody>
                          <tr>
                            <td id="m_-2899363757294775146text_div19065" align="center" valign="top" width="651" style="margin:0;outline:none;padding:0;color:inherit;font-size:12px;font-weight:inherit;line-height:1;text-decoration:inherit;font-family:Arial">
                               <img src="https://ci6.googleusercontent.com/proxy/hhAmL6vnr7OvRF8AHk4vqCt61Rvoopt-n_zA5OtwoQtqmFOByVbe38iye8us9_4x09WAHn3UHbKHNprujk4nR2CYEUyrG_tsBu5ct3jSLKnfjuz3xUjWPwcAnH3HLxqiBsHk_cAVQ91SUL9Znw=s0-d-e1-ft#https://ourbetterworld.imgus11.com/public//ebc27eaf149cd487c41d5617dc772828.png?r=21130086" alt="" width="469" style="display:block;border:none;outline:none;width:469px;opacity:1;max-width:100%;" class="CToWUd">
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td id="m_-2899363757294775146layout-row-margin21223" valign="top" style="padding:0px">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:initial!important">
                    <tbody>
                    <tr id="m_-2899363757294775146layout-row21223" style="margin:0;padding:0;background-color:#d24f1d">
                      <td id="m_-2899363757294775146layout-row-padding21223" valign="top" style="background-color:#d24f1d;padding:0px">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                          <tbody>
                          <tr>
                            <td id="m_-2899363757294775146text_div19065" valign="top" align="left" width="651" style="margin:0;outline:none;padding:0;color:inherit;font-size:12px;font-weight:inherit;line-height:1;text-decoration:inherit;font-family:Arial">
                              <div style="margin:0;outline:none;padding:0;font-size:9px">
                                <div style="margin:0;outline:none;padding:0;text-align:center">
                                                                        <span style="color:#ffffff;font-size:inherit;font-weight:inherit;line-height:inherit;text-decoration:inherit">Our
                                                                        Better World is the
                                                                        digital storytelling
                                                                        initiative of the
                                                                        </span><span style="color:#f0ebeb;font-size:inherit;font-weight:inherit;line-height:inherit;text-decoration:inherit"><a href="https://www.sif.org.sg/" style="margin:0;outline:none;padding:0;color:#ffffff;text-decoration:underline" target="_blank"><span style="color:#ffffff;font-size:inherit;font-weight:inherit;line-height:inherit;text-decoration:inherit"><span style="color:#ffffff;font-size:inherit;font-weight:inherit;line-height:inherit;text-decoration:inherit">Singapore
                                                                        International
                                                                        Foundation.</span></span></a></span><br>
                                </div>
                                <div style="margin:0;outline:none;padding:0;text-align:center;color:#ffffff;font-size:inherit;font-weight:inherit;line-height:inherit;text-decoration:inherit;margin-top: 7px;">To subscribe to SIF's newsletter, sign up <a href="https://www.sif.org.sg/contact" target="_blank" style="margin:0;outline:none;padding:0;color:#ffffff;text-decoration:underline">here</a></div>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td id="m_-2899363757294775146layout-row-margin21209" valign="top" style="padding:0">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%;border-collapse:initial!important">
                    <tbody>
                    <tr id="m_-2899363757294775146layout-row21209">
                      <td id="m_-2899363757294775146layout-row-padding21209" valign="top" style="padding:0">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px;min-width:100%">
                          <tbody>
                          <tr>
                            <td valign="top" height="18">
                              <div style="margin:0;outline:none;padding:0;height:18px">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-size:14px;min-width:100%">
                                  <tbody>
                                  <tr>
                                    <td valign="top" height="18" width="651" style="background-color:#d24f1d">
                                      &nbsp;
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>


</body></html>
