#toolbar-item-administration-search-tray {
  padding-left: 1em;
}

#admin-toolbar-search-tab .toolbar-item:before {
  background-image: url('../images/icons/bebebe/loupe.svg');
}

#admin-toolbar-search-tab .toolbar-item:active:before,
#admin-toolbar-search-tab .toolbar-item.is-active:before {
  background-image: url('../images/icons/ffffff/loupe.svg');
}

#toolbar-item-administration-search-tray label {
  display: inline-block;
  color: #000000;
  margin-right: .5em;
}

#toolbar-item-administration-search-tray input.toolbar-item.form-text {
  display: inline-block;
}

.ui-autocomplete .ui-menu-item span.admin-toolbar-search-url {
  color: rgba(0, 0, 0, 0.50);
}

#admin-toolbar-search-tab .js-form-item.form-item {
  margin-bottom: 0.3rem;
}
